{% extends 'base.html' %}
{% block title %}
clases
{% endblock title %}
{% block body %}
<div class="class">
    <p class="paragraph" data-aos="fade-up">Get A Perfect Body</p>
    <h2 class="h2" data-aos="fade-up">Our Training Classes</h2>
    <div class="classMenu">
        <div class="team1" data-aos="fade-up">
            <div class="img">
                <img src="/static/inst2.jpg" title="pic1" alt="error">
            </div>
            <div class="teamDetails">
                <div class="name">
                    <div class="nameDetails">
                        <h4>Yoga & Streching</h4>
                        <p>Trained by - <span>Rhutik</span></p>
                    </div>
                    <div class="num">
                        <h5>Rs300</h5>
                    </div>
                    </div>
                    <div class="pro">
                        <p>Fit the Yoga to you <br>
                            & stop the rushing</p>
                    </div>
                <!-- </div> -->
            </div>
        </div>


        <div class="team1" data-aos="fade-up">
            <div class="img">
                <img src="/static/inst3.jpg" title="pic1" alt="error">
            </div>
            <div class="teamDetails">
                <div class="name">
                    <div class="nameDetails">
                        <h4>Weightlifting</h4>
                        <p>Trained by - <span>Yuvraj</span></p>
                    </div>
                    <div class="num">
                        <h5>Rs300</h5>
                    </div>
                    </div>
                    <div class="pro">
                        <p>If you think lifting is dangerous,<br>
                             try being weak.</p>
                    </div>
                <!-- </div> -->
            </div>
        </div>

        <div class="team1" data-aos="fade-up">
            <div class="img">
                <img src="/static/inst4.jfif" title="pic1" alt="error">
            </div>
            <div class="teamDetails">
                <div class="name">
                    <div class="nameDetails">
                        <h4>Gymnastics</h4>
                        <p>Trained by - <span>Bella</span></p>
                    </div>
                    <div class="num">
                        <h5>Rs300</h5>
                    </div>
                </div>
                <div class="pro">
                        <p> Jump off the beam, flip off the bars, follow your dreams, and reach for the stars.</p>
                 </div>
            </div>
        </div>


    </div>
</div>
{% endblock body %}