{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block body %}
<div class="back">
  <div class="overlay"></div>
  <section class="mid">
    <p>new way to build a healthy lifestyle!!</p>
    <h2>UPGRADE YOUR BODY AT GYMSO FITNESS</h2>
    <div class="btn">
      <a class="simple" href="{% url 'trainer' %}">Get Started</a>
      <a class="border" href="{% url 'about-us' %}">Learn more</a>
    </div>
</section>
</div>
<section class="details">
  <div class="one" data-aos="fade-up">
    <h3>New to the gymso?</h3>
    <h6>It's All About What You Can Achieve</h6>
    <p>We provide our best opportunity and qualified trainers for best workout yourself as you want !!!</p>
    <a href="{% url 'payment' %}">Become a member today</a>
  </div>
  <div class="two" data-aos="fade-up">
    <h3>Working Hours</h3>
    <br>
    <h5>Sunday : Closed</h5>
    <h5>Monday - Friday</h5>
    <p>6:00 AM - 10:00 PM</p>
    <br>
    <h5>Saturday - Open</h5>
    <p>7:00 AM - 10:00 am</p>
  </div>
</section>
{% endblock body %}
