{% extends 'base.html' %}
{% block title %}
trainer
{% endblock title %}
{% block body %}
<section class="trainer">
    <div class="about">
        <h2 data-aos="fade-up">Hello, we are gymso?</h2>
        <p data-aos="fade-up"><b>"if it doesn't challenge you , it won't change you"</b>
            it's our Slogan and we will help you be the best you can be 
           we have been a Fitness Trainer since 2010.
           Fitness,Health and Lifestyle Influencer. 
           </p>
           <br>
           <br>
           <p data-aos="fade-up"><b>Training Program</b> We offer for you. 
           </p>
    </div>
    <div class="people" data-aos="fade-up">
        <div class="team1">
            <div class="img">
                <img src="/static/inst1.png">
            </div>
            <div class="teamDetails">
                <div class="name">
                    <h4>Prajkta Rathod</h4>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="pro">
                    <p>Yoga instructor</p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
        
        <div class="team1">
            <div class="img">
                <img src="/static/inst2.jpg">
            </div>
            <div class="teamDetails">
                <div class="name">
                    <h4>Pavan Jadhav</h4>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="pro">
                    <p>Yoga instructor</p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}